{% extends 'base.html.twig' %}

{% block title %}Nuevo TrailRunning{% endblock %}

{% block body %}
    <h1>Crear nuevo TrailRunning</h1>

    {{ include('trail_running/_form.html.twig') }}

    <a href="{{ path('app_trail_running_index') }}">Volver</a>
{% endblock %}
